.title{
  text-align: center;
  &__header{
    height: 60px;
    background-color: white;
    font-family: cursive;
    line-height: 60px;
    font-size: 50px;
  }
}


.contents{
  height: 50px;
  background-color: red;
  text-align: center;
  display: flex;
  &__user{
    margin-left: 10px;
    line-height: 50px;
    display: flex;
    &__box{
      width: 200px;
      font-size: 25px;
      color: white;
    }
    &__group{
      width: 250px;
      &__box{
        font-size: 20px;
        color: white;
      }
    }
  }
  &__form{
    margin: 0 auto;
    width: 550px;
    .user-search{
      height: 35px;
      line-height: 50px;
      width: 300px;
      padding-left: 10px;
      border-radius: 10px;
    }
    .submit-btn{
      width: 40px;
      height: 30px;
      border-radius: 10px;
    }
  }
  &__post{
    margin-left: 200px;
    width: 100px;
    .post-btn{
      color: white;
      text-decoration: none;
      border: 2px solid white;
      padding: 10px;
    }
  }
}
a{
  text-decoration: none;


}

.main{
  display: flex;
  height: 665px;
  background-color: rgb(228, 199, 247);
}
.side{
  width: 200px;
  background-color: rgb(217, 223, 144);
  text-align: center;
  &__group{
    size: 50px;
    background-color: rgb(174, 174, 240);
  }
  .group-list__box{
    font-size: 15px;
    & p{
      color: black;
      text-decoration: none;
    }

  }
}
.photo__space{
  height: auto;
  width: 100%;
  display: flex;
  .photo{
    position: relative;
    & p{
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: black;
  }
}
}






.menu{
  height: calc(100vh - 775px);
  background-color: crimson;
  position: fixed;
  position: absolute;
  width: 100%;
  display: flex;
  &__list{
    margin: 0 auto;
    line-height: calc(100vh - 775px);
    font-size: 25px;
    display: flex;
    margin-right: 140px;
    .icon-btn{
      text-decoration: none;
      color: black;
      margin: 0 80px;
    } 
  }
  &__user{
    line-height: calc(100vh - 775px);
    width: 100px;
    text-align: center;
    margin-right: 100px;
    .user-btn{
      text-decoration: none;
      color: white;
    }
  }
}



