.main
  .side
    %a
      グループ名
    - current_user.groups.each do |group|
      .group-list
        = link_to group_photos_path(group) do
          .group-list__box
            = group.name
  .photo__space
    = render partial: 'photos/photo', collection: @photos
    